[Desktop Entry]
Name=Obsidian
Comment=Markdown Notetaking App
GenericName=Text Editor
Type=Application
Exec=/usr/local/bin/obsidian %U
Icon=obsidian
StartupWMClass=obsidian
MimeType=x-scheme-handler/obsidian;